@font-face{
    font-family:'FuturaLight';
    src: url(fonts/FuturaLight.ttf) format('truetype');
}

body {
    width: 100%;
}

h2 {
    font-family: 'FuturaLight', Fallback, sans-serif;
    display: inline-block;
}

#mycanvas{
   background-size:cover;
   background-position: center;
}
